html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/* end of myer reset */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  width 100%;
  height: auto;
  /* overflow: hidden; */
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: black;
  font-family: 'Poppins', sans-serif;
}

.nav-name{
  color: antiquewhite;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;

}

.nav-logo{
  color: antiquewhite;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 65%;
  font-family: 'Poppins', sans-serif;
}

.nav-links a{
  color: rgb(256, 226, 226);
  /* text-decoration: none; */
  /* letter-spacing: 3px; */
  font-weight: bold;
  font-size: 19px;
  font-family: 'Poppins', sans-serif;
}

.nav-menu {
  display: none;
  cursor: pointer;
}

.nav-menu div{
  width: 25px;
  height: 3px;
  background-color: antiquewhite;
  margin: 5px;
  transition: all 0.3s
}

@media screen and (max-width:1024px){
  .nav-links{
    width: 60%;
  }

}

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color: darkred;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .nav-menu{
    display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg translate(-5px,6px));
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg translate(-5px,-6px));
}

.toggle .line4{
  opacity: 0;
}

.toggle .line5{
  transform: rotate(45deg translate(-5px,-6px));
}



.intro-container {
  /* position: relative; */
  padding-bottom: 1px
}

.intro-title {
  z-index: 100;
  position: absolute;
  color: antiquewhite;
  font-weight: bold;
  left: 11%;
  top: 15%;
  transform: translateY(-50%);
}

.intro-title h1 {
  font-size: 8vw;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.intro-title p {
  font-size: 3vw;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}



.about-me-para {
  /* position: absolute; */
  text-align: left;
  background-color: black;
  color: antiquewhite;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 1vh;

}



.projects-container {
  background-color: black;
}

.project-title{
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  color: antiquewhite;
  padding-top: 1vh;
  padding-bottom: 1vh;
}


.job-jot-card {
  padding-top: 1vh;
  background-color: darkred;
  /* box-shadow: 6px 6px 6px 6px whitesmoke; */
  transition: 0.3s;
  border-radius: 15px;
  padding-bottom: 1vh;
}

.job-jot-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: antiquewhite;
}

.job-jot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  text-decoration-color: white;
  padding-bottom: 10px;
  /* padding: 12px 4px; */
}

.job-jot-img {
  border-radius: 15px
}

.job-jot-title {
  color: antiquewhite;
  padding-bottom: 0.5vh;
  font-family: 'Poppins', sans-serif;
}

.job-jot-des {
  color: antiquewhite;
  padding-top: 0.5vh;
  font-family: 'Poppins', sans-serif;
}


.bid-builder-card {
  padding-top: 1vh;
  background-color: black;
  /* box-shadow: 6px 6px 6px 6px whitesmoke; */
  transition: 0.3s;
  border-radius: 15px;
  padding-bottom: 1vh;
}

.bid-builder-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: antiquewhite;
}

.bid-builder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  text-decoration-color: white;
  padding-bottom: 4px;
  /* padding: 12px 4px; */
}

.bid-builder-img {
  border-radius: 15px;
}

.bid-builder-title {
  color: antiquewhite;
  padding-top: 1vh;
    padding-bottom: 0.5vh;
    font-family: 'Poppins', sans-serif;
}

.bid-builder-des {
  color: antiquewhite;
  padding-top: 1vh;
  font-family: 'Poppins', sans-serif;
}



.dream-journal-card {
  padding-top: 0.5vh;
  background-color: darkred;
  /* box-shadow: 6px 6px 6px 6px whitesmoke; */
  transition: 0.3s;
  border-radius: 15px;

}

.dream-journal-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: antiquewhite;
}

.dream-journal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  text-decoration-color: white;
  padding-bottom: 4px;
  /* padding: 12px 4px; */
}

.dream-journal-img {
  border-radius: 15px;
}

.dream-journal-title {
  color: antiquewhite;
  padding-top: 0.5vh;
  padding-bottom: 1vh;
  font-family: 'Poppins', sans-serif;
}

.dream-journal-des {
  color: antiquewhite;
  padding-top: 1vh;
  font-family: 'Poppins', sans-serif;
}


.philosophy-container{
  background-color: black;
}

.philosophy-title{
  color: antiquewhite;
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-decoration: underline;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-family: 'Poppins', sans-serif;
}

.philosophy-img{
  padding-bottom: 5vh;
}



.graphic-container{
  display: flex;
  flex-direction: column;
  /* background-color: black; */
}

.graphic-title{
  color: antiquewhite;
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-decoration: underline;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-family: 'Poppins', sans-serif;
}

.graphic-img{
  padding-bottom: 5vh;
  height: 60vh;
}



/* Container needed to position the button. Adjust the width as needed */
.philosophy-container {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.philosophy-container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.philosophy-btn {
  position: absolute;
  top: 70%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

.blog-btn {
  position: absolute;
  top: 40%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

.container .btn:hover {
  background-color: black;
}

footer{
  display: flex;
  justify-content: space-around;
  /* width: 160%; */
  align-items: center;
  min-height: 8vh;
  background-color: black;
  font-family: 'Poppins', sans-serif;
}
