@import url('https://fonts.googleapis.com/css?family=PT+Serif:300,400,500,600,700,900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


@media(max-width: 420px){


header .brand-name a {
    font-size: 21px;

}

header {
    padding: 10px 17px;

}
.home{
  min-height: 100vh;
  background-image: url("https://jared-mattas-portfolio.s3-us-west-1.amazonaws.com/mobileedit.JPG");
  background-size: cover;
  background-position: center;
  max-width: 100%;
}


.navbar{
  display: none;

}
.navbar.show{
  display: block;
}
}
