@import url('https://fonts.googleapis.com/css?family=PT+Serif:300,400,500,600,700,900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


@media(max-width: 420px){
/* Navbar */
.navbar{
  display: none;
}
.navbar.show{
  display: block;
}
/* Navbar */
header .brand-name a {
  font-size: 21px;
}

header {
  padding: 10px 17px;
}

/* Footer */
.footer{
  padding-bottom: 45px;
  font-size: 30px;
}
.footer a{
  color: #d4af37;
  margin: 25px;
}

/* Footer */
}
