@import url('https://fonts.googleapis.com/css?family=PT+Serif:300,400,500,600,700,900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


@media(max-width: 768px){
  /* master */
  html{
    scroll-behavior: smooth;
  }
  /* master */
/* home */
  .home{
    min-height: 100vh;
    background-image: url("https://jared-mattas-portfolio.s3-us-west-1.amazonaws.com/mobileedit.JPG");
    background-size: cover;
    background-position: center;
    padding: 20px 15px;
  }
  .home .home-content .block h1{
    font-size: 50px;
    color: #ffffff;
  }
  .home .home-content .block h6{
    font-size: 28px;
    color: #ffffff;
  }
/* header */
  header{
    padding: 10px 40px;
    position: fixed;
    /* opacity: 0.75; */
  }
  .ham-burger img{
    display: inline-block;
  }
  .navbar{
    display: none;
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0px;
    top: 80px;
    border-top: 3px solid #d4af37;
    border-bottom: 2px solid #d4af37;
    padding-left: 10px;
    height: 450px;

  }
  .navbar.show{
    display: block;
  }
  header .navbar ul li{
    display: block;
    margin-left: 10;
    color: #d4af37;
  }
  header .navbar ul li a{
    line-height: 92px;
    color: #d4af37;
      font-size: 50px;
  }
  header .navbar ul li a::before{
    background-color: black;
  }
/* header */
/* about me */
/* about me */
.about-me .about-content .img{
  display: none;
}
/* master */
  .about-me .about-content .text{
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0px;
    padding-top: 30px;
  }
  .about-me .about-content img{
    flex: 0 0 100%;
    max-width: 100%;
  }
  /* about me */
  /* portfolio */
  .portfolio .portfolio-gallery .item{
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    padding: 8px;
  }
  .portfolio .filter-buttons ul li {
  font-size: 20px;
  }
  /* resume */
  .message-text .text {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: left;
    padding-top: 20px;
    font-size: 20px;
  }
  .message-text .button {
    flex: 0 0 100%;
    max-width: 100%;
  }
  /* resume */
  /* blogs */
  .blogs .blogs-content .box {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }
  .blogs .blogs-content .box a {
    font-size: 18px;
  }
  /* blogs */
  /* contact */
  /* .contact .contact-form{
    padding: 40px 20px;
  }
  .contact .contatc-form .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  } */
/* contact */
}
