/* bring in project css */

/* const gallery=document.querySelector(".portfolio-gallery"); */
/* const galleryItem=gallery.querySelectorAll(".item"); */
/* const closeLightbox=document.querySelector(".close-lightbox"); */
/* const lightbox=document.querySelector(".lightbox"); */
/* const lightboxImage=lightbox.querySelector("img"); */

    /* portfolio layout */
      /* <section class="portfolio" id="portfolio"> */
      /* <div class="container"> */
      /* <div class="row"> */
      /* <div class="portfolio-gallery"> */

      /* <div class="item" data-id="sketching">
          <div class="inner">
            <img src="https://jared-mattas-portfolio.s3-us-west-1.amazonaws.com/sketch2edit.JPG" alt="portfolio" />
          <div class="overlay">
            <span class="fa fa-plus"></span>
            <h4>Mario Ink</h4>
          </div>
        </div>
      </div> */

      /* </div> */
      /* </div> */
      /* </div> */
      /* </div> */


/* project overlay edit */

.portfolio .portfolio-gallery{
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.portfolio .portfolio-gallery .item{
  /* background-color: black; */
  flex:0 0 33.33%;
  max-width:33.33%;
  margin-bottom: 16px;
  position: relative;
  padding: 8px;
}
.portfolio .portfolio-gallery .item .inner{
  position: relative;
}
.portfolio .portfolio-gallery .item img{
  width: 100%;
  display: block;
}
.portfolio .portfolio-gallery .item .overlay{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.portfolio .portfolio-gallery .item:hover .overlay{
  opacity: 1;
  /* display: flex; */
}
.portfolio .portfolio-gallery .item .overlay .fa{
  height: 50px;
  width: 50px;
  background-color: #febd01;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: crosshair;
}
.portfolio .portfolio-gallery .item:hover .overlay .fa{
  -webkit-animation: galleryIcon .8s ease;
  animation: galleryIcon .8s ease;
}
@keyframes galleryIcon{
  0%{
    transform: translateY(-20px);opacity:0;
  }
  100%{
    transform: translateY(0);opacity:1;
  }
}
.portfolio .portfolio-gallery .item .overlay h4{
  margin-top: 15px;
  font-size: 25px;
  color: #ffffff;
  font-weight: 600;
}
.portfolio .portfolio-gallery .item:hover .overlay h4{
  -webkit-animation: galleryText .8s ease;
  animation: galleryText .8s ease;
}
@keyframes galleryText{
  0%{
    transform: translateY(20px);opacity:0;
  }
  100%{
    transform: translateY(0);opacity:1;
  }
}






/* edit project overlay */
/* lightbox */
.lightbox{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: blue;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.lightbox.show{
  display: flex;
}
.lightbox.hide{
  display: none;
}
.lightbox .close-lightbox{
  height: 45px;
  width: 35px;
  background-color: #ffffff;
  color: #febd01;
  text-align: center;
  line-height: 35px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 101;
}
.lightbox img{
  max-width: 90%;
  max-height: 80%;
  display: block;
}
/* lightbox */
