@import url('https://fonts.googleapis.com/css?family=PT+Serif:300,400,500,600,700,900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* master */
html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  font-family: 'PT Serif', serif;
}
* {
  box-sizing: border-box;
  margin:0;
}
.container{
  max-width: 1140px;
  /* max-width: 1400px; */
  margin: auto;
}
.row{
   display: flex;
   flex-wrap: wrap;
}
/* section title  */
.section-title{
  flex: 0 0 100%;
  max-width: 100%;
  padding-top: 20px;
  margin-bottom: 40px;
}
.section-title h1{
  display: inline-block;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 10px;
  position: relative;
}
.section-title h1:before{
  content: '';
  left: 0;
  position: absolute;
  height: 2px;
  right: 30%;
  background-color: #d4af37;
  bottom: 0px;
}
.text-center{
  text-align: center!important;
}
/* section title */
/* master */
/* header */
header{
  position: absolute;
  left:0px;
  right: 0px;
  border-bottom: 4px solid #d4af37;
  padding: 0px 15px;
  z-index: 11;
  background-color: black;
}
header .row{
  justify-content: space-between;
  align-items: center;
}
header .brand-name a{
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  color: #eeeeee;
  text-transform: uppercase;
  position: relative;
}
header.fixed .brand-name a{
  color: black;
}
header .navbar ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
header .navbar ul li{
  display: inline-block;
  margin-left: 35px;
}
header .navbar ul li a{
  font-size: 22px;
  text-decoration: none;
  line-height: 72px;
  color: #eeeeee;
  display: block;
  font-weight: 600;
  position: relative;
}
header.fixed .navbar ul li a{
  color: #ffffff;
}
header.fixed{
  border-color: #d4af37;
  background-color: black;
  position: fixed;
  animation: fixHeader .5s ease;
  z-index: 11;
}
@keyframes fixHeader{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(-%);
  }
}
header .navbar ul li a::before{
  content: '';
  height: 3px;
  background-color: #ffffff;
  width: 0%;
  position: absolute;
  right: 0px;
  bottom: -1px;
  transition: all .5s ease;
}
header.fixed .navbar ul li a::before{
  background-color: #ffffff;
}
header .navbar ul li a:hover::before{
  width: 100%;
  left: 0;
}
header .navbar ul li a.active::before{
  width: 100%;
  left: 0;
}
header .brand-name a::before{
  content: '';
  height: 3px;
  background-color: #d4af37;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
header.fixed .brand-name a{
  text-decoration: none;
  font-size: 38px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
}
header.fixed .brand-name a{
  color: #ffffff;
}
header .social a{
  color: #ffffff;
  text-decoration: none;
  margin: 0px 12px;
  transition: all .5s ease;
}
header .social a:hover{
  color: blue;
}
header.fixed .social a{
  color: #ffffff;
  text-decoration: none;
  /* display: inline-block; */
  margin: 0px 12px;
  transition: all .5s ease;
}
header.fixed .social a:hover{
  color: blue;
}
/* header */

/* home */
.home{
  background-color: black;
  /* min-height: 100vh; */
  /* background-image: url("https://jared-mattas-portfolio.s3-us-west-1.amazonaws.com/desktopedit.jpg"); */
  /* background-size: cover; */
  /* object-fit:  */
  /* background-position: right; */
  /* padding: 15px; */
  max-width: 100%;
}
.home img{
  padding-top: 60px;
}
.home .full-screen{
  /* min-height: 100vh; */
}
.home .home-content{
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.home .home-content .block{
  padding-bottom: 50px;
  flex: 0 0 75%;
  max-width: 75%;
  padding-left: 35px;
  /* margin-top: 5px; */
}
.home .home-content .block h1{
  color: #ffffff;
  font-size: 78px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  border-bottom: 4px solid #d4af37;
}
.home .home-content .block h6{
  color: #ffffff;
  font-size: 30px;
  font-weight: 750;
  margin: 0;
  padding: 0;
}
.ham-burger img{
  display: inline-block;
  font-weight: 400;
  color: #d4af37;
  border-radius: 3px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  display: none;
}
/* home */

/* about me */
.about-me{
  padding: 10px 15px;
  background-color: black;
}
.about-me .section-title h1:before {
  left: 30%;
}
.about-me .about-content .img{
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.about-me .about-content .img img{
  width: 100%;
  display: block;
  /* -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); */
}
.about-me .about-content .text{
  flex: 0 0 66.66%;
  max-width: 66.66%;
  /* padding-left: 30px; */
}
.about-me .about-content .text h4{
  font-size: 30px;
  font-weight: 600;
  margin: 0px 0px 5px 5px;
  color: #eeeeee;
}
.about-me .about-content .text p{
  font-size: 23px;
  font-weight: 400;
  line-height: 38px;
  color:#ffffff;
  margin: 0px 5px 5px 5px;
  padding-left: 20px;
}
/* aboutme */
/* portfolio */
.portfolio {
  background-color: black;
  padding: 100px 15px;
}
.portfolio .section-title h1:before {
  left: 30%;
}
.portfolio .filter-buttons {
  flex: 0 0 100%;
  max-width: 100%;
}
.portfolio .filter-buttons ul{
  list-style: none;
  text-align: center;
  padding: 0;
}
.portfolio .filter-buttons ul li{
  color: #ffffff;
  font-weight: 500;
  font-size: 25px;
  text-transform: uppercase;
  cursor: crosshair;
  display: inline-block;
  margin: 0px 18px;
  padding-bottom: 0px;
}
.portfolio .filter-buttons ul li.active{
  color: #fedb01;
  border-bottom: 2px solid #febd01;
}
.portfolio .filter-buttons{
  margin-bottom: 25px;
}

.portfolio .portfolio-gallery{
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.portfolio .portfolio-gallery .item{
  /* background-color: black; */
  flex:0 0 33.33%;
  max-width:33.33%;
  margin-bottom: 16px;
  position: relative;
  padding: 8px;
}
.portfolio .portfolio-gallery .item .inner{
  position: relative;
}
.portfolio .portfolio-gallery .item img{
  width: 100%;
  display: block;
}
.portfolio .portfolio-gallery .item .overlay{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.portfolio .portfolio-gallery .item:hover .overlay{
  opacity: 1;
  /* display: flex; */
}
.portfolio .portfolio-gallery .item .overlay .fa{
  height: 50px;
  width: 50px;
  background-color: #febd01;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: crosshair;
}
.portfolio .portfolio-gallery .item:hover .overlay .fa{
  -webkit-animation: galleryIcon .8s ease;
  animation: galleryIcon .8s ease;
}
@keyframes galleryIcon{
  0%{
    transform: translateY(-20px);opacity:0;
  }
  100%{
    transform: translateY(0);opacity:1;
  }
}
.portfolio .portfolio-gallery .item .overlay h4{
  margin-top: 15px;
  font-size: 25px;
  color: #ffffff;
  font-weight: 600;
}
.portfolio .portfolio-gallery .item:hover .overlay h4{
  -webkit-animation: galleryText .8s ease;
  animation: galleryText .8s ease;
}
@keyframes galleryText{
  0%{
    transform: translateY(20px);opacity:0;
  }
  100%{
    transform: translateY(0);opacity:1;
  }
}
/* portfolio */
/* lightbox */
.lightbox{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: blue;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.lightbox.show{
  display: flex;
}
.lightbox.hide{
  display: none;
}
.lightbox .close-lightbox{
  height: 45px;
  width: 35px;
  background-color: #ffffff;
  color: #febd01;
  text-align: center;
  line-height: 35px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 101;
}
.lightbox img{
  max-width: 90%;
  max-height: 80%;
  display: block;
}
/* lightbox */
/* blogs */
.blogs{
  padding: 55px 15px;
  background-color: black;
}
.blogs .section-title h1:before{
  left:30%;
}
.blogs .blogs-content{
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blogs .blogs-content .box{
  flex: 0 0 calc(33.33% - 25px);
  max-width: calc(33.33% - 25px);
  padding-bottom: 10px;
}
.blogs .blogs-content .box .img{
  overflow: hidden;
}
.blogs .blogs-content .box .img img{
    width: 100%;
    display: block;
    transition: all .5s ease;
}
.blogs .blogs-content .box:hover .img img{
  transform: scale(1.1);
}
.blogs .blogs-content .box .info{
  padding: 10px 0;
}
.blogs .blogs-content .box span{
  font-size: 12px;
  display: inline-block;
  color: #d4af37;
}
.blogs .blogs-content .box span:nth-child(2){
  padding-left: 8px;
  margin-left: 10px;
  color: #d4af37;
}
.blogs .blogs-content .box h3{
  font-size: 22px;
  font-weight: 600;
  color: #eeeeee;
  margin: 0 0 10px;
  padding: 0;
}
.blogs .blogs-content .box p{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #d4af37;
  margin: 0 0 10px;
}
.blogs .blogs-content .box a{
  font-size: 22px;
  color: #eeeeee;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid #d4af37;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  align-items: center;
}
.blogs .blogs-content .box a:hover{
  color: #0000000;
  border-color: #0000000;
}
/* blogs */
/* resume */
.message {
  background-color: #d4af37
}
.message-text{
  background-color: black;
  padding: 45px 69px;
  margin: 8px;
}
.message-text .text{
  flex: 0 0 66.66%;
  max-width: 66.66%;
}
.message-text .text h2 {
  font-size: 28px;
  color: #ffffff;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 30px;
}
.message-text .button{
  flex: -1 0 33.33%;
  /* flex: 0 0 33.33%; */
  max-width: 33.33%;
  text-align: right;
}
.message-text .button a{
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid #d4af37;
  padding: 12px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all .5s ease;
  background-color: transparent;
  margin: 22px;
}
.message-text .button a:hover{
  background-color: #0000000;
  color: #ffffff;
}

.align-items-center{
  align-items: center;
}
/* resume */
/* footer */
footer{
  padding: 20px 15px;
  background-color: black;
}
footer .row{
  justify-content: space-between;
  align-items: center;
}
footer .name{
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  font-size: 45px;
  font-weight: 900;
  color: #ffffff;
  border-bottom: 2px solid #febd01;
}
footer .social{
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  padding-top: 15px;

}
footer .social a{
  color: #d4af37;
  text-decoration: none;
  display: inline-block;
  margin: 0px 12px;
  transition: all .5s ease;
}
footer .social a:hover{
  color: #ffffff;
}
/* footer */

/* copyright */
.copyright p{
  color: #d4af37;
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}
.copyright{
  background-color: black;
  padding: 15px;
}
/* copyright */
/* unvisited link */
.project-tag:link {
  color: white;
}
/* visited link */
.project-tag:visited {
  color: white;
}
/* mouse over link */
.project-tag:hover {
  color: white;
}
/* selected link */
.project-tag:active {
  color: white;
}
